/*Clear styles and vablies*/
:root{
    /*main*/
    --main-text:whitesmoke;
    --bg-main-color:rgb(43, 43, 43);
    --border:1px solid black;
    --child_padding:15px;
    --font-size-full:clamp(0.875rem, 0.8571rem + 0.1905vw, 1rem);
    /*Header*/
    --h_height:10vh;
    --h_padding:20px;
    /*Main*/
    --main_h:calc(100vh-var(--h_height));
    --font-size-h1:clamp(1.25rem, 0.7143rem + 5.7143vw, 5rem);
    /*search line*/
    --sl-border-r:30px;
    --sl-bg-hover:rgb(105, 105, 105);
    --form-width:60vw;
    --sl-padding:3vh;
    --sl-bg:rgb(90,90,90);
    /*search button*/
    --sb-border-r:10px;
    --sb-bg:rgb(56,56,56);
    --sb-padding:min(1vw, 10px);
    /*Advenced search*/
    --ad-h2-color:rgba(255, 131, 131, 0.774);
    --ad-padding:20px;
    --ad-ln-padding:5px;
}
*{
    margin: 0;
    padding: 0;
    color: var(--main-text);
    font-size: var(--font-size-full);
}
a{
    text-decoration: none;
}
/*Hover*/
a:hover{
    text-decoration: underline;
}
.search-line:hover{
    background-color: var(--sl-bg-hover);
}
.search-button:hover{
    border-color:var(--main-text);
}
/*Main Class*/
.flex{
    display: flex;
    align-items: center;
}
/*Main style*/
body{
    background-color:var(--bg-main-color);   
}
header{
    height: var(--h_height);
    justify-content: right;
    padding: var(--h_padding);
}
header a, main h1{
    padding: var(--child_padding);
}
main{
    height: var(--main_h);
    flex-direction: column;
}
main h1{
    font-size: var(--font-size-h1) ;
}
.search-line{
    border-radius: var(--sl-border-r);
    border: var(--border);
    width: var(--form-width);
    padding: var(--sl-padding);
    background-color: var(--sl-bg);
}
.search-submit{
    width: var(--form-width);
    justify-content: center;
    flex-wrap: wrap;
}
.search-button{
    border-radius: var(--sb-border-r);
    border: var(--border);
    background-color: var(--sb-bg);
    padding: var(--sb-padding);
    margin: var(--child_padding);
}
/*Advenced Search*/
main h2{
    font-size: calc(var(--font-size-full)*2);
    color: var(--ad-h2-color);
    padding: var(--ad-padding);
}
.advenced-line{
    display: block;
    border-radius: 5px;
    border: var(--border);
    padding: var(--ad-ln-padding);
    width: calc(var(--form-width)*0.75);
    background-color: var(--sl-bg);
    margin: var(--ad-ln-padding);
}
.mn-form{
    padding-left:var(--ad-padding);
}